<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="EmpleadosDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=EmpleadosDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AdminEmpleados.My.MySettings.EmpleadosDBConnectionString"
      connectionString="Data Source=AOM1087;Initial Catalog=EmpleadosDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>